@keyframes loader {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader-dot {
    100%,80% {
        transform: rotate(360deg)
    }
}

@keyframes loader-dot-before {
    50% {
        transform: scale(.4)
    }

    0%,100% {
        transform: scale(1)
    }
}

@-webkit-keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}

@-moz-keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}

@-ms-keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}

@-o-keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}

@keyframes play-button-pulse {
    0% {
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    25% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }

    40% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    60% {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
        transform: scale(1.04)
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes cluster-animation {
    0%,100% {
        -webkit-box-shadow: 0 0 0 4px rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 0 4px rgba(0,0,0,.1);
        box-shadow: 0 0 0 4px rgba(0,0,0,.1)
    }

    50% {
        -webkit-box-shadow: 0 0 0 7px rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 0 7px rgba(0,0,0,.1);
        box-shadow: 0 0 0 7px rgba(0,0,0,.1)
    }
}

@keyframes blink {
    50% {
        opacity: 1
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

a:focus,a:hover {
    text-decoration: none
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Noto Sans JP",sans-serif;
    color: #797f87;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.font-size-50 {
    font-size: 50px!important
}

.font-size-45 {
    font-size: 45px!important
}

.font-size-40 {
    font-size: 40px!important
}

.font-size-35 {
    font-size: 35px!important
}

.font-size-30 {
    font-size: 30px!important
}

.font-size-28 {
    font-size: 28px!important
}

.font-size-27 {
    font-size: 27px!important
}

.font-size-26 {
    font-size: 26px!important
}

.font-size-25 {
    font-size: 25px!important
}

.font-size-24 {
    font-size: 24px!important
}

.font-size-23 {
    font-size: 23px!important
}

.font-size-22 {
    font-size: 22px!important
}

.font-size-21 {
    font-size: 21px!important
}

.font-size-20 {
    font-size: 20px!important
}

.font-size-19 {
    font-size: 19px!important
}

.font-size-18 {
    font-size: 18px!important
}

.font-size-17 {
    font-size: 17px!important
}

.font-size-16 {
    font-size: 16px!important
}

.font-size-15 {
    font-size: 15px!important
}

.font-size-14 {
    font-size: 14px!important
}

.font-size-13 {
    font-size: 13px!important
}

.font-size-12 {
    font-size: 12px!important
}

.font-size-11 {
    font-size: 11px!important
}

.font-weight-medium {
    font-weight: 500!important
}

.toggle,.toggler {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.toggler {
    color: #797f87;
    font-weight: 700
}

.toggler .badge {
    background-color: rgba(38,174,97,.1);
    color: #26ae61;
    font-size: 15px;
    padding: 6px 10px;
    font-weight: 500
}

.toggle {
    position: relative;
    width: 80px;
    height: 35px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: rgba(38,174,97,.1);
    overflow: hidden
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6
}

.container {
    max-width: 1200px
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1200px
    }
}

.theme-btn {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #26ae61;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 0 0 40px rgba(82,85,90,.1);
    -moz-box-shadow: 0 0 40px rgba(82,85,90,.1);
    box-shadow: 0 0 40px rgba(82,85,90,.1);
    position: relative;
    display: inline-block;
    outline: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.theme-btn:hover {
    background-color: #1c9c53;
    color: #fff
}

.download-btn {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.download-btn .la {
    font-size: 24px;
    margin-right: 8px
}

.download-btn:nth-child(2) {
    background-color: #f9b851
}

.section-block,.section-block-2 {
    height: 1px
}

.section-block {
    background-color: #f5f7fc
}

.section-block-2 {
    background-color: #e4e4e4
}

.color-text {
    color: #26ae61!important
}

.color-text-2 {
    color: #2c2c51!important
}

.color-text-3 {
    color: #797f87!important
}

.new-page-badge {
    display: inline-block;
    padding: 0 6px;
    background-color: #40cc6f;
    color: #fff;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 22px;
    font-weight: 600
}

.widget-title {
    font-size: 18px;
    color: #2c2c51;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative
}

.list-items li {
    margin-bottom: 7px;
    color: #797f87;
    font-size: 15px
}

.list-items li a {
    color: #797f87;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.list-items li a:hover {
    color: #26ae61
}

.list-items li span {
    font-size: 14px;
    width: 25px;
    height: 25px;
    background-color: rgba(128,137,150,.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 25px
}

.dashboard-sidebar .dashboard-nav-container {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    background-color: #fff;
    width: 344px;
    padding-top: 120px
}

@media (max-width: 1199px) {
    .dashboard-sidebar .dashboard-nav-container {
        width:320px
    }
}

@media (max-width: 1024px) {
    .dashboard-sidebar .dashboard-nav-container {
        -webkit-transform:translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        padding-top: 145px
    }
}

.dashboard-sidebar .dashboard-nav-container .humburger-menu .humburger-menu-lines {
    opacity: 0;
    visibility: hidden;
    top: 95px;
    background-color: rgba(44,44,81,.1)
}

@media (max-width: 1024px) {
    .dashboard-sidebar .dashboard-nav-container .humburger-menu .humburger-menu-lines {
        opacity:1;
        visibility: visible
    }
}

.dashboard-sidebar .dashboard-nav-container .humburger-menu .humburger-menu-lines:after,.dashboard-sidebar .dashboard-nav-container .humburger-menu .humburger-menu-lines:before {
    background-color: #2c2c51
}

.dashboard-sidebar .dashboard-nav-container .side-menu-wrap {
    margin-top: 0
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li a {
    color: #2c2c51
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li a i {
    margin-right: 10px
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li a .icon-element {
    margin-left: 0;
    display: inline-block;
    background-color: rgba(38,174,97,.1);
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #26ae61;
    font-size: 18px
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li a .btn-toggle {
    background-color: rgba(38,174,97,.1);
    color: #26ae61
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li:hover>a {
    color: #26ae61
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li:hover:after {
    background-color: #26ae61
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li:hover .icon-element {
    background-color: #26ae61;
    color: #fff
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #fff;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li.active,.dashboard-sidebar .dashboard-nav-container .side-menu-ul li.page-active {
    background-color: rgba(38,174,97,.08)
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li.active>a,.dashboard-sidebar .dashboard-nav-container .side-menu-ul li.page-active>a {
    color: #26ae61
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li.active:after,.dashboard-sidebar .dashboard-nav-container .side-menu-ul li.page-active:after {
    background-color: #26ae61
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li.active .icon-element,.dashboard-sidebar .dashboard-nav-container .side-menu-ul li.page-active .icon-element {
    background-color: #26ae61;
    color: #fff
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li .dropdown-menu-item li a {
    color: #26ae61
}

.dashboard-sidebar .dashboard-nav-container .side-menu-ul li .dropdown-menu-item li a:hover {
    color: #26ae61
}

.invoice-content {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(82,85,90,.05);
    -moz-box-shadow: 0 0 40px rgba(82,85,90,.05);
    box-shadow: 0 0 40px rgba(82,85,90,.05);
    padding: 34px 40px 40px;
    border: 1px solid rgba(128,137,150,.1)
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .invoice-item .invoice-logo {
        padding-bottom:30px;
        text-align: center
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .invoice-item .invoice-logo {
        padding-bottom:30px;
        text-align: center
    }
}

.invoice-item .invoice-title .widget-title {
    font-size: 34px
}

.invoice-item .list-items li {
    margin-bottom: 2px
}

@media (max-width: 425px) {
    .invoice-item .list-items.text-right {
        text-align:left!important
    }
}

.contact-details {
    background-image: url(../images/contact-bg.jpg);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 35px 40px;
    position: relative;
    z-index: 1
}

.contact-details:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(44,44,81,.9);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.contact-item {
    margin-bottom: 40px
}

.report-list-items {
    position: absolute;
    right: 15px;
    bottom: 0
}

@media (max-width: 1199px) {
    .report-list-items {
        position:inherit;
        right: auto;
        bottom: auto;
        margin-top: 10px
    }
}

.report-list-items .theme-btn {
    background-color: rgba(255,255,255,.02);
    border: 1px solid rgba(255,255,255,.3)
}

.report-list-items .theme-btn:hover {
    border-color: rgba(255,255,255,.6)
}

.menu-full-width {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-weight: 500
}

.logo {
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2
}

.logo a {
    display: block
}

@media (max-width: 1199px) {
    .logo {
        padding:0
    }
}

.main-menu-content {
    padding-top: 10px;
    margin-left: auto;
    text-align: right;
    padding-right: 18px
}

@media (max-width: 1199px) {
    .main-menu-content {
        display:none
    }
}

.main-menu-content nav ul li {
    display: inline-block;
    text-transform: capitalize;
    padding-top: 17px;
    padding-right: 15px;
    position: relative;
    font-size: 15px
}

.main-menu-content nav ul li a {
    color: #2c2c51;
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    z-index: 1;
    padding: 0 0 28px
}

.main-menu-content nav ul li a .la-angle-down {
    font-size: 12px;
    opacity: .7
}

.main-menu-content nav ul li a:hover {
    color: #26ae61
}

.main-menu-content nav ul li .dropdown-menu-item {
    text-align: left;
    position: absolute;
    top: 75px;
    left: 0;
    width: 210px;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-box-shadow: 0 0 40px rgba(82,85,90,.1);
    -moz-box-shadow: 0 0 40px rgba(82,85,90,.1);
    box-shadow: 0 0 40px rgba(82,85,90,.1);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-weight: 400
}

.main-menu-content nav ul li .dropdown-menu-item li {
    display: block;
    padding-top: 0;
    padding-right: 0
}

.main-menu-content nav ul li .dropdown-menu-item li a {
    color: rgba(44,44,81,.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 4px 25px;
    position: relative;
    font-size: 15px
}

.main-menu-content nav ul li .dropdown-menu-item li a:after {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    width: 3px;
    height: 85%;
    opacity: 0;
    visibility: hidden;
    background-color: #26ae61;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.main-menu-content nav ul li .dropdown-menu-item li a:hover {
    color: #26ae61
}

.main-menu-content nav ul li .dropdown-menu-item li a:hover:after {
    opacity: 1;
    visibility: visible
}

.main-menu-content nav ul li:hover .dropdown-menu-item {
    opacity: 1;
    visibility: visible;
    top: 65px
}

.main-menu-content nav ul li:last-child {
    padding-right: 0
}

.logo-right-content {
    position: relative;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 1199px) {
    .logo-right-content {
        margin-left:auto
    }
}

.logo-right-content .side-menu-open {
    width: 50px;
    padding: 10px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    background-color: rgba(44,44,81,.06)
}

@media (max-width: 1199px) {
    .logo-right-content .side-menu-open {
        display:block
    }
}

.logo-right-content .side-menu-open .menu__bar {
    height: 2px;
    background-color: #2c2c51;
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.logo-right-content .side-menu-open .menu__bar:nth-child(1),.logo-right-content .side-menu-open .menu__bar:nth-child(2) {
    margin-bottom: 5px
}

.logo-right-content .side-menu-open .menu__bar:nth-child(2) {
    margin-right: 5px
}

.logo-right-content .side-menu-open:hover .menu__bar:nth-child(2) {
    margin-right: 0;
    margin-left: 5px
}

.logo-right-content .user-menu-open {
    color: #2c2c51;
    font-size: 24px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: rgba(44,44,81,.06);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

@media (max-width: 425px) {
    .logo-right-content .user-menu-open {
        display:block
    }
}

.logo-right-content .user-menu-open:hover {
    color: #2c2c51
}

.header-menu-wrapper.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-box-shadow: 0 0 40px rgba(82,85,90,.1);
    -moz-box-shadow: 0 0 40px rgba(82,85,90,.1);
    box-shadow: 0 0 40px rgba(82,85,90,.1)
}

.humburger-menu-lines {
    display: inline-block;
    text-align: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 18px;
    background-color: rgba(255,255,255,.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.humburger-menu-lines:after,.humburger-menu-lines:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 52%;
    top: 14px;
    left: 7px;
    opacity: .6;
    background-color: #fff;
    -webkit-transform: rotate(-43deg);
    -moz-transform: rotate(-43deg);
    -ms-transform: rotate(-43deg);
    -o-transform: rotate(-43deg);
    transform: rotate(-43deg);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.humburger-menu-lines:after {
    -webkit-transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    -o-transform: rotate(43deg);
    transform: rotate(43deg)
}

.humburger-menu-lines:hover:after,.humburger-menu-lines:hover:before {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
}

.dashboard-nav-container,.side-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: #2c2c51;
    overflow-x: hidden;
    z-index: 999;
    -webkit-transition: all .4s cubic-bezier(.7,0,.2,1);
    -moz-transition: all .4s cubic-bezier(.7,0,.2,1);
    -ms-transition: all .4s cubic-bezier(.7,0,.2,1);
    -o-transition: all .4s cubic-bezier(.7,0,.2,1);
    transition: all .4s cubic-bezier(.7,0,.2,1);
    -webkit-box-shadow: 0 0 40px rgba(82,85,90,.1);
    -moz-box-shadow: 0 0 40px rgba(82,85,90,.1);
    box-shadow: 0 0 40px rgba(82,85,90,.1);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

.dashboard-nav-container .side-menu-wrap,.side-nav-container .side-menu-wrap {
    margin-top: 100px
}

.dashboard-nav-container .side-menu-ul>li,.side-nav-container .side-menu-ul>li {
    position: relative;
    font-weight: 500;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.dashboard-nav-container .side-menu-ul>li:after,.side-nav-container .side-menu-ul>li:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.1)
}

.dashboard-nav-container .side-menu-ul>li>a,.side-nav-container .side-menu-ul>li>a {
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 14px 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative
}

.dashboard-nav-container .side-menu-ul>li>a .btn-toggle,.side-nav-container .side-menu-ul>li>a .btn-toggle {
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    background-color: rgba(255,255,255,.1);
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.dashboard-nav-container .side-menu-ul>li>a:hover .btn-toggle,.side-nav-container .side-menu-ul>li>a:hover .btn-toggle {
    background-color: #26ae61;
    color: #fff
}

.dashboard-nav-container .side-menu-ul>li .dropdown-menu-item,.side-nav-container .side-menu-ul>li .dropdown-menu-item {
    display: none
}

.dashboard-nav-container .side-menu-ul>li .dropdown-menu-item li:after,.side-nav-container .side-menu-ul>li .dropdown-menu-item li:after {
    display: none
}

.dashboard-nav-container .side-menu-ul>li .dropdown-menu-item li a,.side-nav-container .side-menu-ul>li .dropdown-menu-item li a {
    padding: 0 20px 5px 35px;
    color: rgba(255,255,255,.7);
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.dashboard-nav-container .side-menu-ul>li .dropdown-menu-item li a:hover,.side-nav-container .side-menu-ul>li .dropdown-menu-item li a:hover {
    color: #fff
}

.dashboard-nav-container .side-menu-ul>li .dropdown-menu-item li:last-child a,.side-nav-container .side-menu-ul>li .dropdown-menu-item li:last-child a {
    padding-bottom: 22px
}

.dashboard-nav-container .side-menu-ul>li.active a .btn-toggle,.side-nav-container .side-menu-ul>li.active a .btn-toggle {
    background-color: #26ae61;
    color: #fff
}

.dashboard-nav-container .side-menu-ul>li.active a .btn-toggle:before,.side-nav-container .side-menu-ul>li.active a .btn-toggle:before {
    content: "\f0d8"
}

.dashboard-nav-container.active,.side-nav-container.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.user-nav-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    z-index: 999;
    -webkit-transition: all .4s cubic-bezier(.7,0,.2,1);
    -moz-transition: all .4s cubic-bezier(.7,0,.2,1);
    -ms-transition: all .4s cubic-bezier(.7,0,.2,1);
    -o-transition: all .4s cubic-bezier(.7,0,.2,1);
    transition: all .4s cubic-bezier(.7,0,.2,1);
    -webkit-box-shadow: 0 0 40px rgba(82,85,90,.1);
    -moz-box-shadow: 0 0 40px rgba(82,85,90,.1);
    box-shadow: 0 0 40px rgba(82,85,90,.1);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}

@media (max-width: 375px) {
    .user-nav-container {
        width:320px
    }
}

.user-nav-container .humburger-menu-lines {
    top: 10px;
    background-color: rgba(44,44,81,.1)
}

.user-nav-container .humburger-menu-lines:after,.user-nav-container .humburger-menu-lines:before {
    background-color: #2c2c51
}

.user-nav-container .user-panel-content {
    margin-top: 20px
}

.user-nav-container .user-sidebar-item .mess__body {
    max-height: inherit;
    overflow-x: inherit;
    overflow-y: inherit
}

.user-nav-container.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.user-panel-nav .nav-tabs {
    padding: 45px 20px 0;
    border-bottom-color: rgba(127,137,150,.1)
}

.user-panel-nav .nav-item {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500
}

.user-panel-nav .nav-link {
    color: #797f87;
    border: none;
    padding: 5px 0 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative
}

.user-panel-nav .nav-link:after {
    position: absolute;
    content: "";
    bottom: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40px;
    height: 3px;
    opacity: 0;
    visibility: hidden;
    background-color: #26ae61;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.user-panel-nav .nav-link:hover {
    color: #26ae61
}

.user-panel-nav .nav-link.active {
    background-color: transparent;
    color: #26ae61
}

.user-panel-nav .nav-link.active:after {
    opacity: 1;
    visibility: visible
}

.side-nav-button {
    padding-top: 30px;
    text-align: center;
    font-weight: 500
}

.side-nav-button a {
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.side-nav-button a:hover {
    color: #26ae61
}

.side-nav-button .or-text {
    margin-left: 5px;
    margin-right: 5px
}

.side-nav-button .theme-btn {
    line-height: 40px;
    margin-left: 10px
}

.side-nav-button .theme-btn:hover {
    color: #fff
}

.header-area {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1010
}

.header-menu-wrapper {
    background-color: #fff
}

@media (max-width: 1199px) {
    .header-menu-wrapper {
        padding-top:20px;
        padding-bottom: 20px
    }
}

.header-area-2 .header-menu-wrapper {
    background-color: transparent
}

.header-area-2 .header-menu-wrapper.header-fixed {
    background-color: #2c2c51
}

.header-area-2 .main-menu-content nav ul li a {
    color: #fff
}

.header-area-2 .main-menu-content nav ul li a:hover {
    color: #26ae61
}

.header-area-2 .logo-right-content .side-menu-open {
    background-color: rgba(255,255,255,.06)
}

.header-area-2 .logo-right-content .side-menu-open .menu__bar {
    background-color: #fff
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .about-content {
        margin-bottom:50px
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .about-content {
        margin-bottom:50px
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .about-content {
        margin-bottom:50px
    }
}

.team-item {
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(14,16,48,.02);
    -moz-box-shadow: 0 0 40px rgba(14,16,48,.02);
    box-shadow: 0 0 40px rgba(14,16,48,.02);
    border: 1px solid rgba(127,136,151,.2);
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 40px 20px;
    text-align: center
}

.blog-area {
    position: relative;
    z-index: 1;
    overflow: hidden
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .single-job-wrap {
        margin-bottom:50px
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .single-job-wrap {
        margin-bottom:50px
    }
}

.category-item {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid rgba(128,137,150,.2);
    z-index: 1;
    text-align: center
}

.category-item a {
    color: #2c2c51;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.category-item .icon-element {
    background-color: rgba(38,174,97,.1);
    color: #26ae61
}

.category-item span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #797f87;
    text-transform: capitalize
}

.category-item:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23ffffff' fill-opacity='0.36' fill-rule='evenodd'/%3E%3C/svg%3E")
}

.category-item:hover {
    background-color: #26ae61;
    border-color: #26ae61
}

.category-item:hover:after {
    opacity: .1;
    visibility: visible
}

.category-item:hover .icon-element {
    background-color: #fff;
    color: #26ae61
}

.category-item:hover span {
    color: #fff
}

.header-desktop .header-menu-wrapper {
    padding-right: 30px;
    padding-left: 30px;
    border-bottom: 1px solid rgba(128,137,150,.2);
    -webkit-box-shadow: 0 0 40px rgba(82,85,90,.1);
    -moz-box-shadow: 0 0 40px rgba(82,85,90,.1);
    box-shadow: 0 0 40px rgba(82,85,90,.1)
}

@media (max-width: 1199px) {
    .header-desktop .header-menu-wrapper {
        height:80px
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .header-desktop .header-menu-wrapper {
        padding-left:0;
        padding-right: 0
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .header-desktop .header-menu-wrapper {
        padding-left:0;
        padding-right: 0
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .header-desktop .header-menu-wrapper {
        padding-left:0;
        padding-right: 0
    }
}

.header-desktop .header-menu-wrapper .logo {
    width: 300px;
    border-right: 1px solid rgba(128,137,150,.2)
}

@media (max-width: 1199px) {
    .header-desktop .header-menu-wrapper .logo {
        border-right:0;
        width: auto
    }
}

.header-desktop .main-menu-content {
    margin-left: 0;
    padding-right: 0;
    text-align: left;
    padding-left: 40px
}

.header-desktop .logo-right-content {
    margin-left: auto
}

.header-desktop .logo-right-content .dropdown-menu {
    left: auto!important;
    -webkit-transform: translate3d(0,0,0)!important;
    -moz-transform: translate3d(0,0,0)!important;
    -ms-transform: translate3d(0,0,0)!important;
    -o-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
    -webkit-box-shadow: 0 2px 40px rgba(82,85,90,.1);
    -moz-box-shadow: 0 2px 40px rgba(82,85,90,.1);
    box-shadow: 0 2px 40px rgba(82,85,90,.1);
    right: -30px;
    margin-top: 65px;
    width: 310px;
    padding: 0;
    border: 1px solid rgba(128,137,150,.1)
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .header-desktop .logo-right-content .dropdown-menu {
        margin-top:60px;
        right: -70px
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .header-desktop .logo-right-content .dropdown-menu {
        margin-top:60px;
        right: -70px
    }
}

@media (max-width: 425px) {
    .header-desktop .logo-right-content .dropdown-menu {
        width:300px
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .header-desktop .logo-right-content .dropdown-menu {
        margin-top:60px;
        right: -70px
    }
}

.header-desktop .logo-right-content .dropdown-menu.show {
    -webkit-transform: translate3d(0,0,0)!important;
    -moz-transform: translate3d(0,0,0)!important;
    -ms-transform: translate3d(0,0,0)!important;
    -o-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important
}

@media (max-width: 1199px) {
    .header-desktop .logo-right-content .header-action-button {
        margin-right:20px
    }
}

@media (max-width: 425px) {
    .header-desktop .logo-right-content .header-action-button {
        display:none!important
    }
}

@media (max-width: 425px) {
    .header-desktop .logo-right-content .header-action-button .notification-wrap .dropdown-menu {
        right:-100px
    }
}

.header-desktop .logo-right-content .header-action-button .user-action-wrap .dropdown-menu {
    width: 280px
}

.header-desktop .logo-right-content .header-action-button.active {
    display: block
}

@media (max-width: 425px) {
    .header-desktop .logo-right-content .side-menu-open {
        margin-right:8px
    }
}

.dot-status {
    position: relative
}

.dot-status:before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    height: 14px;
    width: 14px;
    background-color: #e4e4e4;
    display: block;
    border: 2px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.notification-btn {
    position: relative;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(38,174,97,.1);
    color: #26ae61;
    font-size: 21px;
    outline: 0!important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.notification-btn:after {
    display: none
}

.notification-btn:hover {
    background-color: #26ae61;
    color: #fff
}

.notification-btn[aria-expanded=true] {
    background-color: #26ae61;
    color: #fff
}

.notification-item .quantity {
    position: absolute;
    display: inline-block;
    top: -7px;
    right: -6px;
    height: 22px;
    width: 22px;
    line-height: 19px;
    text-align: center;
    background-color: #26ae61;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 11px;
    border: 2px solid #fff;
    font-weight: 700
}

.mess-dropdown {
    position: relative
}

.mess__title {
    padding: 20px;
    border-bottom: 1px solid rgba(128,137,150,.1)
}

.mess__title .widget-title {
    font-size: 16px;
    padding-bottom: 0
}

.mess__title p {
    font-weight: 400;
    color: #797f87;
    font-size: 14px
}

.mess__body {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 500
}

.mess__body::-webkit-scrollbar {
    width: 8px
}

.mess__body::-webkit-scrollbar-track {
    background-color: rgba(128,137,150,.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.mess__body::-webkit-scrollbar-thumb {
    background-color: rgba(128,137,150,.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.mess__body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128,137,150,.4)
}

.mess__item {
    padding: 19px 20px;
    border-bottom: 1px solid rgba(128,137,150,.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.mess__item .avatar {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative
}

.mess__item .avatar img {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.mess__item .icon-element {
    background-color: rgba(38,174,97,.1);
    color: #26ae61;
    margin-right: 15px;
    flex-shrink: 0;
    margin-left: 0
}

.mess__item .content {
    width: -webkit-calc(100% - 75px);
    width: -moz-calc(100% - 75px);
    width: calc(100% - 75px);
    text-align: left
}

.mess__item .content .widget-title {
    font-size: 14px;
    padding-top: 4px;
    margin-bottom: 3px;
    padding-bottom: 0
}

.mess__item .content .text {
    font-size: 14px;
    color: #797f87;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.mess__item .content .time {
    font-size: 13px;
    color: #26ae61
}

.mess__item:hover {
    background-color: rgba(128,137,150,.05)
}

.online-status:before {
    background-color: #26ae61!important
}

.user-action-wrap .notification-btn {
    position: relative;
    background-color: transparent
}

.user-action-wrap .notification-btn:hover {
    background-color: transparent
}

.user-action-wrap .notification-btn img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
    border: 1px solid rgba(128,137,150,.2)
}

.user-action-wrap .notification-btn[aria-expanded=true] {
    background-color: transparent;
    color: transparent
}

.user-action-wrap .image {
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 50px;
    margin-right: 15px
}

.user-action-wrap .image img {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(128,137,150,.2)
}

.user-action-wrap .widget-title {
    font-weight: 700;
    padding-bottom: 0;
    font-size: 18px
}

.user-action-wrap .widget-title a {
    color: #2c2c51
}

.user-action-wrap .email {
    color: #797f87;
    font-size: 13px
}

.user-action-wrap .mess__body {
    max-height: 100%;
    overflow-x: inherit;
    overflow-y: inherit;
    padding: 15px 20px
}

.user-action-wrap .mess__body a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #2c2c51;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.user-action-wrap .mess__body a i {
    margin-right: 5px
}

.user-action-wrap .mess__body a:hover {
    color: #26ae61
}

.dashboard-area {
    height: 100vh
}

@media (max-width: 1024px) {
    .dashboard-area {
        padding-top:120px
    }
}

.dashboard-content-wrap {
    height: 100vh;
    padding-top: 130px;
    padding-left: 368px;
    padding-right: 30px
}

@media (max-width: 1024px) {
    .dashboard-content-wrap {
        padding-left:0;
        padding-right: 0;
        padding-top: 0
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .edit-profile-wrap {
        display:block!important;
        width: 70%;
        margin-right: auto;
        margin-left: auto
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .edit-profile-wrap {
        display:block!important
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .edit-profile-wrap {
        display:block!important
    }
}

.dashboard-message-wrapper {
    border: 1px solid rgba(128,137,150,.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 18px 0 rgba(0,0,0,.01);
    -moz-box-shadow: 0 0 18px 0 rgba(0,0,0,.01);
    box-shadow: 0 0 18px 0 rgba(0,0,0,.01)
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .dashboard-message-wrapper {
        display:block!important
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .dashboard-message-wrapper {
        display:block!important
    }
}

.message-sidebar {
    width: 320px;
    border-right: 1px solid rgba(128,137,150,.2)
}

@media (max-width: 1199px) {
    .message-sidebar {
        width:250px
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .message-sidebar {
        width:auto
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .message-sidebar {
        width:auto
    }
}

.message-active {
    background-color: rgba(38,174,97,.05)
}

.message-active:after {
    background-color: #26ae61
}

.message-content .mess__item {
    padding-right: 30px;
    padding-left: 30px
}

.message-content .mess__item:hover {
    background-color: transparent
}

.message-time {
    text-align: center;
    display: block;
    margin-bottom: 24px
}

.message-time span {
    background-color: rgba(38,174,97,.07);
    padding: 2px 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #26ae61;
    font-size: 15px
}

.icon-element {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #26ae61;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    font-size: 28px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fff
}

.icon-element-2 {
    display: inline-block;
    font-size: 50px;
    color: #2c2c51;
    width: 80px;
    height: 80px;
    line-height: 77px;
    text-align: center;
    border: 2px solid #2c2c51;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative
}

@media (max-width: 425px) {
    .icon-element-2 {
        width:70px;
        height: 70px;
        line-height: 67px
    }
}

.icon-element-2:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.icon-element-2:hover {
    background-color: #26ae61;
    color: #fff;
    border-color: #26ae61
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .sidebar {
        display:-webkit-flex;
        display: -ms-flex;
        -ms-flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        margin: 40px -15px 50px
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .sidebar {
        margin-bottom:50px;
        margin-top: 40px
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .sidebar {
        margin-top:40px;
        margin-bottom: 50px
    }
}

.sidebar .sidebar-widget {
    margin-bottom: 30px
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .sidebar .sidebar-widget {
        flex:0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .single-listing-wrap {
        margin-bottom:60px
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    .single-listing-wrap {
        margin-bottom:60px
    }
}

@media only screen and (min-width: 320px) and (max-width:479px) {
    .single-listing-wrap {
        margin-bottom:60px
    }
}

.candidate-item {
    border: 1px solid rgba(128,137,150,.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 18px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 18px 0 rgba(0,0,0,.05);
    box-shadow: 0 0 18px 0 rgba(0,0,0,.05)
}

@media (max-width: 1199px) {
    .candidate-item {
        display:block!important
    }
}

.candidate-item .widget-title a {
    color: #2c2c51;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.candidate-item .widget-title a:hover {
    color: #26ae61
}
