<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="TechyDevs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zobstar - Job Board  HTML Template</title>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,&amp;display=swap" rel="stylesheet">
    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='zobstar/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='zobstar/line-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='zobstar/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='zobstar/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='zobstar/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='zobstar/minstylezob.css') }}">


</head>
<body>

{% if current_user.is_authenticated %}
  {% include 'header-logged-in.html' %}
{% else %}
  {% include 'header-logged-out.html' %}
{% endif %}




<script src="{{ url_for('static', filename='zobstar/js/jquery-3.4.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='zobstar/js/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='zobstar/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='zobstar/js/main.js')}}"></script>

</body></html>
