<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Jobby</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/style.css?u={{ last_updated }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/colors/blue.css') }}">

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
{% include 'header.html' %}

<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Email Doğrulama</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{{ url_for('public.index') }}">Anasayfa</a></li>
						<li>Email Doğrulama</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

<!-- Page Content
================================================== -->
<!-- Container -->
<div class="container">

	<div class="row">
		<div class="col-xl-12">
			{% if current_user.email_approved %}
			<div class="notification success closeable">
				<p>Email adresiniz doğrulandı!</p>
				<a class="close"></a>
			{% else %}
      <div class="notification notice closeable">
				<p>Doğrulama emaili adresinize gönderildi. Statunuz "İşveren" olarak belirlendi. Bu statude profesyonelleri arayabilir, ilanlara bakabilir,
          email adresinizi doğruladıktan sonra proje ilanı verebilirsiniz. Statunuzu "Profesyonel" yapmak için ayarlar kısmında gerekli bilgileri doldurmalisınız.
          "Profesyonel" statusunde kendi sayfanız olur, proje ilanı verebilir, onlara teklif verebilir, projeleri arayabilirsiniz.</p>
				<a class="close"></a>
			{% endif %}
			</div>


		</div>

	</div>
</div>

</div>
<!-- Container / End -->


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->


</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mmenu.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/tippy.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/simplebar.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/snackbar.js')}}"></script>
<script src="{{ url_for('static', filename='js/clipboard.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/counterup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom.js')}}"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() {
	Snackbar.show({
		text: 'Statunuz değiştirildi!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	});
});
</script>

</body>
</html>
